//-mixins left navigation footer
mixin footerNav(className, items)    
  ul(class=`${className}`)
    each item in items
      li(class=`${className}__item`)
        a(class=`${className}__link` href="#")= item

//-mixins header social
mixin headSocial(className, items)
  ul(class=`${className}`)
    each social in items
      li(class=`${className}__item`)
        a(class=`${className}__link` class=`${className}__link_${social}` href="#")
          

//-contact icon
mixin contactItem(text, className, href, icon)
    li(class= `${className}__item`)
        img(class= `${className}__icon` src=require(`../../img/${icon}.png`))
        if(href)
            a(class= `${className}__link` href= href)= text
        else
            span(class= `${className}__text`)= text 
