

header.header
  div.container
    div.header__top
      div.header__social
        
        //-mixins header social
        +headSocial('social', ['vk', 'github', 'in'])

      .header-menu
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a.navigation__link(href="#") Авторизация
            li.navigation__item
              a.navigation__link(href="#") Блог
            li.navigation__item
              a.navigation__link(href="#") Обо мне
            li.navigation__item
              a.navigation__link(href="#") Мои работы
      div.hamburger
        .hamburger__top
        .hamburger__center
        .hamburger__bottom
    div.header__writebg
      img.header__picture(src=require(`../../img/${pageBgHeader}.svg`))
    div.header__user
      div.userpic
        img.userpic__img(src=require("../../img/userpic.png"))
      h1.header-title  #{title}
      div.header__title #{subtitle}
      
    
    