extends ../base

block head

block title
    title Блог

block main
    div.wrapper
        header.header
            div.container
                div.header__top
                    ul.social
                        li.social__item
                            img.social__icon(src=require("./vk.svg"))
                        li.social__item
                            img.social__icon(src=require("./github.svg"))
                        li.social__item
                            img.social__icon(src=require("./in.svg"))
                    div.hamburger
                        img.humburger__img(src=require("./hamburger.svg"))
                div.userpic
                    img.userpic__img(src=require("./userpic.png"))
                h1.header-title Блог
                div.header__title Статьи которые я написал
        main.main-content
            div.container
                div.blog-content
                    aside.sidebar
                        ul.menu
                            li.menu__item.active
                                a.menu__link(href="#") Самое важное в sass
                            li.menu__item
                                a.menu__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.menu__item
                                a.menu__link(href="#") Самый необходимый набор Gulp плагинов
                            li.menu__item
                                a.menu__link(href="#") Почему я выбрал Jade
                    div.content
                        div.blog-write
                            ul.blog-list
                                li.blog-list__item
                                    h2.blog-list__title Самое важное в SASS
                                    div.blog-list__date 22 ноября 2017
                                    div.blog-list__descript 
                                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
                                          | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. 
                                          | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. 
                                          | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) 
                                          | участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. 
                                          | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                li.blog-list__item
                                    h2.blog-list__title Приёмы в вёрстке, без которых не обходится ни один сайт
                                    div.blog-list__date 13 ноября 2017
                                    div.blog-list__descript 
                                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
                                          | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. 
                                          | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. 
                                          | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) 
                                          | участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. 
                                          | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    footer.footer
        div.container
            div.footer-block
                div.footer-block__item
                    ul.bottom-menu
                        li.bottom-menu__item
                            a.bottom-menu__link(href="#") Мои работы
                        li.bottom-menu__item
                            a.bottom-menu__link(href="#") Обо мне
                        li.bottom-menu__item 
                            a.bottom-menu__link(href="#") Блог
                        li.bottom-menu__item 
                            a.bottom-menu__link(href="#") Авторизация
                    div.bottom-desc Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.  
                div.footer-block__item
                    ul.social_footer
                        li.social__item_footer
                            img.social__icon_footer(src=require("./vk.svg"))
                        li.social__item_footer
                            img.social__icon_footer(src=require("./github.svg"))
                        li.social__item_footer
                            img.social__icon_footer(src=require("./in.svg"))
                    div.copyright &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016