extends ../base

//-variables for page works.pug
block variables
  -var pageBgHeader= "portfolio_header";
  -var title= "Мои работы";
  -var subtitle= "Frontend разработчик из Новосибирска";
  -var isPage= true;

block content
  main.main-content#arrow-scroll
    section.section.section-works
      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="works-triangle")
        polygon(class="works-triangle__left" points="0,0 0,86 500.8,86 500.8,75.5")
        polygon(class="works-triangle__right" points="1000,0 1000,86 500,86 500,75.5")
      div.works
        div.works__picbg
          include ../../img/works_header.svg
        h2.block-title.works-header Мои работы
      section.section
        .works-content
          .works-container
            .slider-1.slider
              .slider__main_preview
                .main-preview__content
                  .heading__sub_wrap
                    h2.block-title.heading__sub Cайт школы онлайн-образования
                  .main-preview__desc html, css, javascript
                  .main-preview__btn.btn-animate
                    a.button.button-preview(href="" target="_blank")
                      img.button-preview__icon(src=require("../../img/link.svg"))
                      span.button-preview__text Посмотреть сайт
              .slider__small_preview
                .slider__image_preview
              .slider__preview_nav
                .slider__preview_up
                  .overlay__preview.overlay__preview_left
                    a.arrow__link.arrow--up(href="")
                      img(src=require("../../img/slides/portf-arrow-up.png"))
                  .slider__image_preview
                .slider__preview_down
                  .overlay__preview.overlay__preview_right
                    a.arrow__link.arrow--down(href="")
                      img(src=require("../../img/slides/portf-arrow-down.png"))
                  .slider__image_preview
                      
      section.section.about-tell
        img.about-tell__bg(src=require('../../img/works-bg.jpg'))
        .about-tell__content
          .about-tell__header
            .works__picbg
              include ../../img/about_header.svg
            h2.block-title.ask-title Что обо мне говорят
          .about-testimonial
            ul.about-testimonial__list
              li.about-testimonial__item
                .about-testimonial__quote
                  include ../../img/quote.svg
                .about-testimonial__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .about-customer
                  .about-customer__icon
                    img.about-customer__user(src=require("../../img/customer-one.png"))
                    .about-customer__text
                      span.about-customer__title Ковальчук Дмитрий
                      span.about-customer__prof основатель Loftschool
              li.about-testimonial__item
                .about-testimonial__quote
                  include ../../img/quote.svg
                .about-testimonial__desc Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .about-customer
                  .about-customer__icon
                    img.about-customer__user(src=require("../../img/customer-two.png"))
                    .about-customer__text
                      span.about-customer__title Сабанцев Владимир 
                      span.about-customer__prof преподаватель
        .about-tell__form
          form(method="POST").feedback-form
            .form-wrapper
              .form-content
                .form-content__blur
                .form-content__title
                  h2.block-title.form-title Связаться со мной
                .form-content__row
                  input.form-content__input(type="text" name="name" placeholder="Имя")
                .form-content__row
                  input.form-content__input(type="text" name="email" placeholder="Email")
                .form-content__row
                  textarea.form-content__msg(name="message" row="5" placeholder="Ваше сообщение")
              .form-content__button
                button.button.button_sent(type="submit") Отправить
                button.button.button_reset(type="reset") Очистить
