extends ../base

//-variables for page index.pug
block variables
	- var title = "Блог";
	- var subtitle = "Статьи которые кто-то до меня написал";
	- var isPage = false;


block content
	div.bg-wrapper
		div.signin
			a.button.button-auth(href="#") Авторизоваться
		div.flip-container
			div.flipper
				div.form-login
					form.form-login__form(action="",method="POST")
						div.form-login__wrap
							div.login-center
								div.login-center__header
									h2.block-title.login-center__title авторизуйтесь
								div.form-login__row
									div.form-input
										input.form-login__input(type="text" placeholder="Логин")
										div.form-login__man
											img.form-login__img(src=require("../../img/login.svg"))
										input.form-login__input(type="password" placeholder="Пароль")
										div.form-login__pass
											img.form-login__img(src=require("../../img/password.svg"))
								div.form-login__row
									div.form-inputs
										input.form-inputs__checkbox#check-3(type="checkbox",name="checkbox")
										label.form-inputs__check(for="check-3") Я человек
								div.form-login__row
									div.form-radio
										div.form-radio__title Вы точно не робот?
										div.form-radio__wrap
											div.form-radio__circle
												input.form-radio__check#radio-1(type="radio",name="radio")
												label.form-radio__radio-name(for="radio-1") Да
											div.form-radio__circle
												input.form-radio__check#radio-2(type="radio",name="radio")
												label.form-radio__radio-name(for="radio-2") Не уверен
							div.form-login__row
									ul.btn__list
										li.btn__item
											a(class="button button_main" href="#") На главную
										li.btn__item
											a(class="button button_inter" href="#") Войти

				div.welcome-inter
					.welocme-container
						div.welcome-content
							.welcome-content__userpic
								img.welcome-content__pic(src=require("../../img/userpic.png"))
							.welcome-content__title
								h2.welcome-content__header Евгений Ларков
								span.weclome-content__text Личный сайт веб-разработчика
							.welcome-content__social
								ul.welcome-content__list
									li.weclome-content__item
										a.welcome-content__link(href="#")
											img.welcome-content__icon(src=require("../../img/vk.svg"))
									li.weclome-content__item
										a.welcome-content__link(href="#")
											img.welcome-content__icon(src=require("../../img/github.svg"))
									li.weclome-content__item
										a.welcome-content__link(href="#")
											img.welcome-content__icon(src=require("../../img/in.svg"))
						div.form-login__row
								ul.btn__list
									li.btn__item
										a(class="button button_main" href="works.html") Мои работы
									li.btn__item
										a(class="button button_center" href="about.html") Обо мне
									li.btn__item
										a(class="button button_inter" href="blog.html") Блог
		div.author
			span.author__copyright &copy; Евгений Ларков 
			span.author__bootomline | 
			span.author__copyleft создано с любовью в LoftSchool | 2017